body, html {
    height: 100%;
}

.box-welcome {
    background-image: url(../../imagens/27230.jpg);
    position: relative;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#welcome h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4.5em;
    letter-spacing: .1em;
}

#welcome h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.8em;
    font-family: Helvetica, sans-serif;
}

#welcome p {
    margin-top: 40px;
    color: #fff;
    font-size: 1.4em;
    font-weight: 300;
}

#welcome a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

.link-info:hover {
    color: #FF8C00;
    padding-bottom: 8px;
    border-bottom: 1px solid #FF8C00;
}

.first-name {
    color: #A4D3EE;
}

.word-dev {
    color: #FFFF00;
}

.second-name {
    color: #FF8C00;
}

.teste{
    text-align: start;
}

.centralize {
    text-align: center;
}