body, html {
    height: 100%;
    background-color: #E0FFFF;
}

.box-welcome {
    /* background-image: url(../../imagens/fundo.jpg); */
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    padding-bottom: 160px;
}

.box-skills {
    background-image: url(../../imagens/development\(1\).jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: 80px;
}

.skill-image {
    width: 50px;
    height: 50px;
}

#skills h3 {
    font-size: 1.2em;
    font-weight: 300;
}

.content-center {
    text-align: center;
}

#welcome h1 {
    margin-top: 60px;
    color: #FFF5EE;
}

#welcome h2 {
    color: #FFF5EE;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
}

#welcome p {
    margin-top: 40px;
    color: #D3D3D3;
    font-size: 1.2em;
    font-weight: 300;
}

#welcome a {
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

.link-info:hover {
    color: #FF8C00;
    padding-bottom: 8px;
    border-bottom: 1px solid #FF8C00;
}

p {
    font-size: 1.2em;
    color: #404044;
}

.row-custom {
    margin-top: -80px;
}


#development h1 {
    border-bottom: 2px solid #FF8C00;
    letter-spacing: -0.04em;
    color: #FF8C00;
}

.btn-custom {
    border: none;
    padding: 20px 50px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: #363636;
}

#skills h1 {
    border-bottom: 2px solid #FF8C00;
    letter-spacing: -0.04em;
    color: #FF8C00;
}

.skill-item {
    width: 190px;
    text-align: center;
}

#formation h1 {
    border-bottom: 2px solid #FF8C00;
    letter-spacing: -0.04em;
    color: #FF8C00;
}

.year-formatinons, .age-experience {
    color: #FF8C00;
    font-weight: bold;
    font-size: 1.2em;
}

#formation h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0;
}

#experience h1 {
    border-bottom: 2px solid #FF8C00;
    letter-spacing: -0.04em;
    color: #FF8C00;
}

#experience h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 0;
}

.card {
    border-radius: 25px;
}

.card:hover {
    background: #f8f9fa;
    cursor: pointer;
}

.card img {
    height: 116px;
    border-radius: 20px 20px 0px 0px;
}

.card p {
    font-size: 1em;
}


#contact h1 {
    border-bottom: 2px solid #FF8C00;
    margin-bottom: 80px;
    letter-spacing: -0.04em;
    color: #FF8C00;
}

#contact h2 {
    color: #8470FF;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}

#contact a {
    text-decoration: none;
    border-radius: 20px;
}

footer a {
    text-decoration: none;
    padding-right: 15px;
}

.icon-footer {
    color: #0dcaf0;
    font-size: 2em;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .box-welcome {
        padding-bottom: 80px;
    }

    .col-custom-primary {
        margin-top: -30px;
    }

    .col-custom-secondary {
        margin-top: -100px;
    }

    .formation-content-text {
        margin-top: -80px;
    }

    .row-custom {
        margin-top: 0px;
    }

    #contact h2 {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media (min-width: 375px) and (max-width: 576px) {
    .skill-item {
        width: 100%;
        text-align: center;
    }

    #welcome a {
        margin: 4px;
    }

    footer a {
        padding: 5px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #development h1 {
        font-size: 1.8em;
    }

    #skills h1 {
        font-size: 1.8em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.2em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #development h1 {
        font-size: 2.1em;
    }

    #skills h1 {
        font-size: 2.1em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.8em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 4.5em;
    }

    h2 {
        font-size: 1.8em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 4.5em;
    }

    h2 {
        font-size: 1.8em;
    }
}